<nav class="navbar navbar-inverse navbar-bottom">
  <div class="container-fluid">
    
        <center id="fotter_nav">
            <a href="www.fibertex.com">Fibertex Non-Woven</a></br>
              27981 W. Concrete Drive Ingleside, IL 60041
              Tel. +1 815 349 3200 , Fax +1 815 344 2165 , Email salesusa@fibertex<br>
              copyright <a href="https://www.facebook.com/ahmed.adass">Abu adas</a>
        </center>
        
  </div>
</nav>
