<div class="container">
    <footer class="footer center">
        <nav>
              <center> <p>Fibertex Nonwovens A/S <a href="fibertex@fibertex.com"> <Strong>(fibertex@fibertex.com)</Strong></a> 
              路Svendborgvej 16路9220 Aalborg路Denmark Tel. +45 96 35 35 35 路 Fax +45 98 15 85 55  </p></center>
          <center><small> copyright &copy; <a href="https://www.facebook.com/ahmed.adass">Abu adas</a></small></center> 
        </nav>
    </fotter>
</div>
<style>
    .container{background-color: #c1c1c1;}
</style>