
<div class="example3">
  <nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar3">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="<%root_path%>">
        <img src="http://www.fibertex.com/en-GB/news-and-events/Pictures-and-logos/LogoFlags/Fibertex_logo_gif.gif" 
        alt="Smiley face" height="60" width="200">
        </a>
      </div>
      <div id="navbar3" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Orders <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Add New Older</a></li>
              <li><a href="#">Olders on Wait</a></li>
              <li class="divider"></li>
              <li><a href="#">Mangment Olders</a> </li>
            </ul>
          </li>
             <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Line One <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Hoppers</a></li>
              <li><a href="#">Horizental machien</a></li>
              <li><a href="#">TCF</a></li>
               <li><a href="#">TMC</a></li>
              <li><a href="#">Card</a></li>
              <li><a href="#">Cross Lapper</a></li>
              <li><a href="#">Drafter</a></li>
              <li><a href="#">Looms</a></li>
              <li><a href="#">Gaege</a></li>
              <li><a href="#">Singer</a></li>
               <li><a href="#">Calender</a></li>
              <li><a href="#">Accumlater</a></li>
              <li><a href="#">Winder</a></li>
              <li><a href="#">Taker Roll</a></li>
              <li class="divider"></li>
              <li><a href="#">Spray System</a></li>
              <li><a href="#">Other</a></li>
            </ul>
          </li>
             <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Line Two <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
               <li><a href="#">Hoppers</a></li>
              <li><a href="#">Horizental machien</a></li>
              <li><a href="#">TCF</a></li>
               <li><a href="#">TMC</a></li>
              <li><a href="#">Card</a></li>
              <li><a href="#">Cross Lapper</a></li>
              <li><a href="#">Drafter</a></li>
              <li><a href="#">Looms</a></li>
              <li><a href="#">Gaege</a></li>
               <li><a href="#">Calender</a></li>
              <li><a href="#">Accumlater</a></li>
              <li><a href="#">Winder</a></li>
              <li><a href="#">Taker Roll</a></li>
              <li class="divider"></li>
              <li><a href="#">Spray System</a></li>
              <li><a href="#">Other</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Supply Room <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Add Item</a></li>
              <li><a href="#">Mangment Items</a></li>
            </ul>
          </li>
           <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Maintenace Shop <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Add Part</a></li>
              <li><a href="#">Mangment Parts</a></li>
            </ul>
          </li>
           <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Electrical Shop <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Add Part</a></li>
              <li><a href="#">Mangment Parts</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
    <!--/.container-fluid -->
  </nav>
</div>

